<style>
  .carousel-caption {
    color: rgb(229, 229, 243);
    text-shadow: 2px 2px 4px black;
  }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/download2.png"><div class="container">
              <div class="carousel-caption">
                <h1>IMMOBILI DI PREGIO</h1>
                <p>
                    Un numero selezionato di Professionisti per chi offre e cerca soluzioni Esclusive
                    e Desidera affidarsi a qualificati esperti del settore immobili di Pregio e non solo
                </p>
    
                    <p>
                      <a class="btn btn-lg btn-primary" href="tel:++39 327.70.52.339 " role="button">
                        <i class="fas fa-phone-square-alt"></i> +39 327.70.52.339 
                      </a>
                    </p>
    
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/download.png">
            <div class="container">
              <div class="carousel-caption">
                <h1>VALUTAZIONI</h1>
                <p>Per dare il giusto valore all'immobile da vendere</p>
                    <p>
                      <a class="btn btn-lg btn-primary" href="tel:++39 327.70.52.339 " role="button">
                        <i class="fas fa-phone-square-alt"></i> +39 327.70.52.339 
                      </a>
                    </p>
               
                <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
    
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/ridimensionata.png"> <div class="container">
              <div class="carousel-caption text-right">
                <h1>CONSULENZA A 360°</h1>
                <p>Prima, durante e dopo l'acquisto</p>
                      <p>
                        <a class="btn btn-lg btn-primary" href="tel:++39 327.70.52.339 " role="button">
                          <i class="fas fa-phone-square-alt"></i> +39 327.70.52.339 
                        </a>
                      </p>
                <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
    
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>