
<!-- tre segnaposto circolari con descrizioni -->
<style>
  body {
    color: mintcream;
  }
  p.content_circle{
     text-align: justify;
  }
</style>

<!-- Three columns of text below the carousel -->
<div class="row">
        <div class="col-lg-4">
            <img src="/images/stock-photo-concept-housing-a-young-family-mother-father-and-child-in-new-house-with-a-roof-708496903.jpg" id="fotoconsulting" style="max-width: 15em; ;width: 100%;height: auto;">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>
          <h2>Per Comprare</h2>
          <p class="content_circle">
              La tua casa su misura , ricerche mirate immobili, case ideali in funzione delle Vostre esigenze, desideri, sogni e bisogni personali. 
              Concentriamo le energie su Immobili con le giuste caratteristiche, personalità e carattere. Sfruttiamo una profonda conoscenza del mercato  e del territorio in cui si opera, oltre ad una rete di relazioni che ci consente di ampliare notevolmente il campo di ricerca. Verifichiamo tutta la documentazione urbanistica, catastale, energetica, ipotecaria, legale, amministrativa e condominiale. Nel caso di acquirenti non italiani, tutte le fasi saranno seguite da professionisti in lingua straniera.
              Per trovare la vostra casa su misura, nel Team Paglieri collaborano esperti del settore che utilizzano metodologie realmente efficaci.
          <p>
            <a class="btn btn-secondary" href="/per_comprare" role="button">Dettagli &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <img src="/images/stock-photo-business-meeting-in-an-office-lawyers-or-attorneys-discussing-a-document-or-contract-agreement-137911247.jpg" id="fotoconsulting" style="max-width: 15em; ;width: 100%;height: auto;">
        <h2>Per Vendere</h2>
        <p class="content_circle">
              Le vendite sono in aumento, arrivano nuovi Clienti pronti ad investire a Genova e nella riviera di Levante. Abbiamo bisogno di Immobili Protagonisti da proporre a Clienti già qualificati e con la capacità economica di comprare.
              La Forza vendita è stata riqualificata, ha una nuova mentalità, una nuova serie di Competenze. Insieme al Team abbiamo sviluppato un piano di marketing e delle strategie finalizzate alla vendita  che, in questo momento storico di Rinascita Immobiliare del territorio ligure, ha ottenuto concreti risultati: Vendiamo.
          <p><a class="btn btn-secondary" href="/per_vendere" role="button">Dettagli &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="/images/stock-photo-estate-agent-shaking-hands-with-customer-after-contract-signature-375747523.jpg" id="fotoconsulting" style="max-width: 15em; ;width: 100%;height: auto;">
          <h2>Valutazioni</h2>
          <p class="content_circle">
              Anche per la compravendita è essenziale offrire un calcolo del prezzo d'acquisto o di vendita degli Immobili secondo criteri professionali elevati. Soprattutto in questa fase l'importanza di valutare una casa con la dovuta precisione è influente ma non sufficiente. 
              Infatti, molti altri fattori concorrono a stabilire il più probabile valore di mercato che solitamente si ottiene mediante procedimenti analitici e comparativi.

              Oggi, un Professionista, una persona Competente, deve saper coniugare gli aspetti tecnici con quelli emozionali.
               Spesso chi compra non acquista solo la casa, ma anche le emozioni che ne ricava. 
               In queste circostanze il lavoro del Team, armonizza e riassume l'insieme delle Competenze necessarie a formulare Valutazioni Ponderate. 
          <p><a class="btn btn-secondary" href="/valutazioni" role="button">Dettagli &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->