


<!-- FOOTER -->
<footer class="container align-items-end" style="padding-top: 5em;">
    <div class="row justify-content-md-center">
      <div class="col-sm-4">
              <p>
                Paglieri Team Immobiliare
                  <a href="https://www.facebook.com/Paglieri-Team-Immobiliare-2120029808088169/?view_public_for=2120029808088169" target="_blank">
                    <i class="fab fa-facebook-square"></i> 
                  </a>
                  <a href="https://www.linkedin.com/company/paglieriteamimmobiliare" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
              </p>
      </div>
      <div class="col-sm-4">
        <adress>Via XX Settembre, 1/1 sc.D - 16121 Genova</adress>
      </div>
      <div class="col-sm-4">
          <p><i class="fas fa-at"></i> <a href="mailto:info@paglieriteamimmobiliare.it"> mail: info@paglieriteamimmobiliare.it </a></p> 
      </div>
      <div class="col-sm-3" style="padding-top: 1em;">
        <p>
          <a href="tel:+39 347.11.755.32 " class="btn btn-lg btn-primary" role="button">
            <i class="fas fa-phone-square-alt"></i> +39 347.11.755.32 
          </a>
        </p>
      </div>
      <div class="col-sm-3" style="padding-top: 1em;">
        <p>
          <a href="tel:+39 327.70.52.339 " class="btn btn-lg btn-primary" role="button">
            <i class="fas fa-phone-square-alt"></i>  +39 327.70.52.339 
          </a>
        </p>
      </div>
      <div class="col-sm-3" style="padding-top: 1em;">
        <p>
          <a href="tel:+39 010.85.802.10" class="btn btn-lg btn-primary" role="button">
            <i class="fas fa-phone-square-alt"></i>  +39 010.85.802.10
          </a>
        </p>
      </div>
      <div class="col-sm-3">
             <a href="https://wa.me/393471175532?text=Sarei%20interessato%20ad%20avere%20maggiori%20informazioni%20grazie" target="_blank">
                <img src="/images/whatsapp.png" alt="conttataci con whatsapp" 
                style="max-width: 100px; max-height: auto;">
              </a>
        </div>
   </div>
</footer>
</main>
<script src="jquery/jquery-3.4.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery/jquery-3.4.1.min.js"><\/script>')</script><script src="js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>