<% include header.ejs %>

<!-- Carousel qui prende tutta la larghezza della pagina -->

<% include carousel.ejs %>
<!-- elemento wrapper qui il contenuto è centrato -->
<div class="container marketing">
    
<!-- corousel qui rimane centrato con i bordi -->
<% include circle_place.ejs %>

</div>

<% include footer.ejs %>