
<header>
        <nav class="navbar navbar-dark bg-primary fixed-top" style="z-index: 10000;max-height: 2.5em;">
          
            <ul class="navbar-nav mr-auto" id="menu" >
                <li class="nav-item active">
                  <a class="nav-link" href="tel:+39 347.11.755.32 ">
                    <i class="fas fa-phone-square-alt"></i>+39 347.11.755.32 
                  </a>
                </li>
            </ul>

         </nav>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="padding-top: 3em;">
          <a class="navbar-brand" href="#">
            <img src="/images/logo4.png" style="max-height:30px;width: auto">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/chi_siamo">CHI SIAMO</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="/per_comprare">PER COMPRARE</a>
              </li>
              <li class="nav-item active">
                    <a class="nav-link " href="/per_vendere">PER VENDERE</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link " href="/valutazioni">VALUTAZIONI</a>
              </li>
              <li class="nav-item active">
                    <a class="nav-link " href="/case_da_sogno">CASE DA SOGNO</a>
              </li>
              <li class="nav-item active">
                    <a class="nav-link " href="/contatti">CONTATTI</a>
              </li>
              <li class="nav-item active">
                    <a class="nav-link " href="/news">NEWS</a>
              </li>
            </ul>
                <img  src="/images/remax-collection-horizontal-rgb-wht500x500.png" style="max-height: 50px;">    
          </div>
        </nav>
      </header>