<% include header.ejs %>

<body class="bg-light">

        <% include navbar.ejs %>




        <% include main_body.ejs %>


        <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Inserire la tipologia e premere Invio</h6>
                <div class="media text-muted pt-3">
                        <form action="/admin/tipologie/edit/<%= id %>" method="POST">
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Tipologia</label>
                                  <input type="text" class="form-control" 
                                  id="tipologia"
                                  name="tipologia" 
                                   aria-describedby="tipologia" 
                                  required
                                  value="<%= tipologia %>">
                                  <small id="emailHelp" class="form-text text-muted">
                                      es. <i>Villa, appartamento , nuda proprietà , ecc..</i>
                                    </small>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                </div>
        </div>
        </main>






</body>

        <% include footer.ejs %>